.post {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 0.5rem;
  grid-template-columns: 2fr 2fr 6fr;
  grid-template-rows: 0.5rem 8rem min-content;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
  background: rgba(black, 0.6);
  margin-top: 5rem;
}
